.tf-btn.hover-white {
  &::before {
    display: none;
  }
}
.rc-slider .rc-slider-handle {
  border: solid 2px var(--on-suface-container);
  opacity: 1 !important;
  background-color: #fff !important;
  width: 24px;
  height: 24px;
  margin-top: -11px;
}

.rc-slider .rc-slider-handle:hover {
  border-color: var(--on-suface-container);
}

.rc-slider .rc-slider-handle-dragging {
  border-color: var(--on-suface-container) !important;
  box-shadow: none !important;
}

.rc-slider .rc-slider-track,
.rc-slider .rc-slider-tracks {
  background-color: var(--on-suface-container);
}
@media only screen and (max-width: 550px) {
  .footer .footer-col-block .tf-collapse-content {
    overflow-y: hidden;
    display: block;
    height: 0;
    transition: 0.5s;
  }
}
.tfSubscribeMsg {
  display: none;
  max-height: 0px;
  // transition: 0.4s;
  overflow: hidden;
  &.active {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 180px;
    display: block;
  }
}

.awards-list {
  .image {
    overflow: visible;
  }
}
.rtl {
  .tf-btn-newsletter i {
    transform: rotate(-90deg);
    transform-origin: center center;
  }
}
.overflow-clip {
  max-width: 100vw;
  overflow: clip;
}
.flex-1 {
  flex: 1;
  padding-left: 10%;
  min-width: 10px;
}

.border-bottom-none {
  border-bottom: none;
}
.sidebar-categories {
  .item {
    &.active {
      color: var(--primary) !important;
      a {
        color: var(--primary) !important;
      }
    }
  }
}
.typeanimation {
  transition: width 0.58s ease-out !important;
  height: 100% !important;
  //   margin-top: -10px;
  padding-right: 10px;
  b.is-visible {
    padding-right: 10px !important;
  }
}

#toggle-rtl span:last-child {
  display: none;
}

.rtl #toggle-rtl,
.style-RTL #toggle-rtl {
  left: 15px;
  right: auto;
}

.rtl #toggle-rtl span:first-child,
.style-RTL #toggle-rtl span:first-child {
  display: none;
}

.rtl #toggle-rtl span:last-child,
.style-RTL #toggle-rtl span:last-child {
  display: block;
}
.tf-btn-arrow {
  cursor: pointer;
}
.rtl .wg-team-details .image {
  flex: 1;
}
.rtl .newsletter-form .tf-btn-newsletter {
  left: 8px;
  right: auto;
}
.rtl .newsletter-form .tf-btn-newsletter i {
  transform: rotateY(180deg);
}
.rtl .blog-right-sidebar-content .date {
  left: unset;
  right: 20px;
}
.rtl .blog-no-sidebar-slide .date {
  left: unset !important;
  right: 20px;
}

/* Light Scrollbar Styles */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}