/*------------ header ---------------- */
@use "header";
/*------------ footer ---------------- */
@use "footer";
/*------------ tabs ---------------- */
@use "tabs";
/*------------ button ---------------- */
@use "button";
/*------------ range slider ---------------- */
@use "range-slider";
/*------------ form ---------------- */
@use "form";
/*------------ slider ---------------- */
@use "slider";
/*------------ off canvas ---------------- */
@use "pop-up";
/*------------ product ---------------- */
@use "course";
/*------------ blog ---------------- */
@use "blog";
/*------------ testimonial ---------------- */
@use "testimonial";
/*------------ accordion ---------------- */
@use "accordion";
/*------------ shop ---------------- */
@use "shop";
/*------------ map ---------------- */
@use "map";
/*------------ nice-select ---------------- */
@use "nice-select";
/*------------ animation ---------------- */
@use "animation";
/*------------ zoom ---------------- */
@use "zoom";