@use "../abstracts/mixin";

.tf-sort {
  @include mixin.d-flex();
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .tf-sort-content {
    @include mixin.d-flex();
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;

    .text {
      white-space: nowrap;
      color: var(--on-surface-container);
    }
    &.tf-sort-right {
      gap: 9px;
    }
  }

  .shop-sale {
    @include mixin.d-flex();
    gap: 8px;
    align-items: center;

    i {
      font-size: 24px;
    }
  }

  .nice-select {
    min-width: 164px;
    width: max-content;
    padding: 10px 38px 10px 15px !important;
    border: 1px solid var(--outline) !important;

    &::after {
      right: 20px;
    }

    .list {
      z-index: 99;
    }
  }
}

.product-item {
  .image {
    margin-bottom: 20px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    @include mixin.transition3();

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: var(--white);
      border-radius: 50%;
      @include mixin.flex(center, center);
      @include mixin.transition3();

      i {
        font-size: 24px;
        color: var(--on-suface-container);
      }

      &:hover {
        background-color: var(--on-suface-container);

        i {
          color: var(--white);
        }
      }
    }

    &.icon-1 {
      top: 16px;
    }

    &.icon-2 {
      top: 64px;
      transition-delay: 0.1s;
    }
    &.icon-3 {
      top: 112px;
      transition-delay: 0.2s;
    }
  }

  .tf-btn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    left: 12px;
    right: 12px;
    @include mixin.transition3();
    max-width: calc(100% - 24px);
  }

  .product-item-content {
    .name-product {
      color: var(--on-suface-container);
      display: inline-block;
      margin-bottom: 4px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        left: auto;
        right: 0;
        bottom: 0;
        height: 1px;
        background: var(--on-suface-container);
        @include mixin.transition3();
      }

      &:hover {
        &::before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }

    .price {
      @include mixin.d-flex();
      align-items: center;
      gap: 8px;
    }
  }

  &.discount {
    position: relative;

    &::before {
      content: "-32%";
      position: absolute;
      top: 16px;
      left: 16px;
      background-color: var(--error);
      padding: 0 6px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 10%;
      color: var(--white);
      z-index: 2;
      border-radius: 2px;
    }
  }

  &.style-2 {
    @include mixin.d-flex();
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    .image {
      max-width: 100px;
      height: 100px;
      margin-bottom: 0;
    }
  }

  &:hover {
    .icon {
      opacity: 1;
      visibility: visible;
      right: 16px;
    }

    .tf-btn {
      opacity: 1;
      visibility: visible;
      bottom: 12px;
    }
  }
}

.wg-products-details {
  .tf-product-info-choose-option {
    margin-top: -7px;

    .top-product-info {
      @include mixin.d-flex();
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 27px;

      .title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: var(--secondary);
      }
    }

    .rating {
      gap: 8px;

      i {
        color: var(--yelow);
      }

      .text {
        color: var(--color-text);
      }
    }

    .tf-product-info-wrap {
      margin-bottom: 20px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--line);
    }

    .tf-product-info-desc {
      p {
        color: var(--color-text);
        margin-bottom: 30px;
        line-height: 30px;
      }
    }

    .tf-product-info-btn {
      @include mixin.d-flex();
      align-items: center;
      gap: 20px;
      margin-bottom: 40px;
      flex-wrap: wrap;

      .tf-btn {
        padding: 14px 16px;
        min-width: 193px;

        span {
          text-transform: uppercase;
          font-size: 15px;
          text-align: left;
        }

        i {
          margin-left: 15px;
          padding-left: 15px;
          border-left: 1px solid var(--line-5);
        }
      }
    }
  }

  .tf-product-info-quanlity {
    @include mixin.d-flex();
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;

    .title-quanlity {
      color: var(--secondary);
    }
  }

  .tf-product-info-socail {
    @include mixin.d-flex();
    align-items: center;
    gap: 10px 17px;
    flex-wrap: wrap;

    .text {
      text-transform: uppercase;
      color: var(--color-text);
    }

    .social {
      li {
        a {
          border: 1px solid var(--line);
          width: 36px;
          height: 36px;
          @include mixin.flex(center, center);

          i {
            color: var(--color-text);
          }

          &:hover {
            border-color: var(--main-color);
            background-color: var(--main-color);

            i {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

.wg-quanlity {
  @include mixin.d-flex();
  align-items: center;
  border: 1px solid var(--line);
  width: min-content;

  .quanlity-product {
    color: var(--secondary);
  }

  .btn-wg-quanlity {
    .btn-quanlity {
      color: var(--color-text);
      font-size: 20px;
      cursor: pointer;
      @include mixin.flex(center, center);
      border: 1px solid var(--line);
      padding: 0 12px;
      line-height: 24px;
    }
  }

  input {
    width: 62px !important;
    padding: 0 !important;
    text-align: center;
    border: none;
  }
}

.tf-table-page-cart {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-spacing: 0;
  min-width: 850px;

  tr {
    border-bottom: 1px solid var(--outline);
  }

  thead {
    th {
      text-align: center;
      border: none;
      color: var(--on-suface-container);
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 0 0 20px !important;

      &:first-child {
        text-align: left;
        width: 380px;
      }

      &:nth-child(2) {
        width: 115px;
      }

      &:nth-child(3) {
        width: 145px;
      }

      &:nth-child(4) {
        width: 145px;
      }

      &:last-child {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 20px 0;
        border: none;

        &.tf-cart-item_product {
          display: flex;
          align-items: center;
          gap: 20px;

          .img-box {
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .name-product {
            text-decoration: none;
            color: var(--on-suface-container);
            white-space: nowrap;

            &:hover {
              color: var(--primary);
            }
          }
        }

        &.tf-cart-item_price,
        &.tf-cart-item_total {
          text-align: center;
          color: var(--on-suface-container);
        }

        &.tf-cart-item_quantity {
          .quanlity-product {
            color: var(--primary);
          }
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.tf-cart-sold .notification-sold {
  padding: 10px;
}

.tf-cart-item {
  .tf-cart-item_product {
    display: flex;
    align-items: center;

    .img-box {
      overflow: hidden;
      width: 100px;
      height: 100px;
      margin-right: 16px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cart-info {
      display: grid;
      gap: 12px;
    }
  }

  .wg-quantity {
    width: 130px;
    height: 40px;

    input {
      height: 38px;
      width: 50px;
    }

    .btn-quantity {
      width: 40px;
      height: 30px;
      font-size: 30px;
    }
  }

  .tf-cart-item_price {
    .old-price {
      display: inline-block;
      margin-right: 8px;
      font-size: 14px;
      line-height: 22px;
      color: var(--secondary-2);
    }
  }

  .remove-cart {
    .icon {
      width: 20px;
      height: 20px;
      @include mixin.flex(center, center);
      @include mixin.transition3;
      border: 1px solid var(--error);
      border-radius: 50%;
      font-size: 12px;
      color: var(--on-suface-container);
      cursor: pointer;
      margin-left: auto;

      &:hover {
        background-color: var(--error);
        color: var(--white);
      }
    }
  }
}

.tf-cart-item_total {
  @include mixin.d-flex();
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.box-order {
  padding: 24px;
  border: 2px solid var(--outline);

  .title-box {
    margin-bottom: 20px;
  }

  .subtotal,
  .discount,
  .ship {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--outline);
  }

  .ship {
    @include mixin.d-flex();
    gap: 69px;
    justify-content: space-between;
    .ship-item {
      @include mixin.d-flex();
      align-items: center;
      gap: 8px;

      label {
        @include mixin.d-flex();
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
      }
    }
  }
  .total-order {
    margin-bottom: 20px;
  }
}
