@use "../abstracts/mixin";

@keyframes hover-btn-arrow {
    0% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    25% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes ripple {
    0% {
        width: 100%;
        height: 100%;
        opacity: 0.9;
    }

    100% {
        width: 150%;
        height: 150%;
        opacity: 0;
    }
}

@keyframes ripple2 {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }

    50% {
        width: 200%;
        height: 200%;
        opacity: 0.5;
    }

    100% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
}


@keyframes glow {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.tf-fade-top {
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    @include mixin.transition5;
}

.tf-fade-left {
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    @include mixin.transition5;
}

.tf-fade-right {
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
    @include mixin.transition5;
}

.tf-fade-bottom-left {
    transform: translate(10px, -10px);
    opacity: 0;
    visibility: hidden;
    @include mixin.transition5;
}

.tf-fade-top-right {
    transform: translate(-10px, -10px);
    opacity: 0;
    visibility: hidden;
    @include mixin.transition5;
}


.tf-animate-1 {
    clip-path: inset(0 100% 0 0);
    @include mixin.transition-cubic-1();

    &.active-animate {
        clip-path: inset(0 0 0 0);
        animation-delay: 0.5s;
    }

    &.transition-1s {
        @include mixin.transition-cubic-2();
    }
}

.tf-animate-2 {
    clip-path: inset(0 0 100% 0);
    @include mixin.transition-cubic-1();

    &.active-animate {
        clip-path: inset(0 0 0 0);
        animation-delay: 0.7s;
    }
}

.tf-animate-3 {
    clip-path: inset(100% 0 0 0);
    @include mixin.transition-cubic-1();

    &.active-animate {
        clip-path: inset(0 0 0 0);
        animation-delay: 0.5s;
    }
}

.tf-animate-4 {
    clip-path: inset(0 0 0 100%);
    @include mixin.transition-cubic-1();

    &.active-animate {
        clip-path: inset(0 0 0 0);
        animation-delay: 0.5s;
    }
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(3deg);
    }

    80% {
        transform: rotate(-3deg);
    }

    90% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes l3 {
    to {
        transform: rotate(-1turn)
    }
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes tranform-x-item {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes tranform-y-item {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}



@keyframes tf-preload {
    0% {
        transform: scale(0.8);
    }
  
    50% {
        transform: scale(1);
        background: transparent;
    }
    100% {
        transform: scale(0.8);
        background: transparent;
    }
}
