@use "../abstracts/mixin";

.footer {
    background-color: var(--on-suface-container);

    .footer-top {
        @include mixin.d-flex();
        gap: 30px 40px;
    }

    .footer-left {
        padding-right: 30px;
        border-right: 1px solid var(--bg-1);
        padding-top: 80px;
        padding-bottom: 80px;
        max-width: 421px;
        width: 100%;
    }

    .footer-center {
        @include mixin.d-flex();
        gap: 0 47px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 19px;
        max-width: 368px;
        width: 100%;

    }

    .footer-right {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 100%;
        padding-left: 30px;
        border-left: 1px solid var(--bg-1);

    }

    &.style-2 {
        position: relative;

        .logo-footer {
            padding-bottom: 32px;
        }

        .footer-left {
            padding-right: 0;
            border-right: 0;
            padding-top: 80px;
            padding-bottom: 73px;

            .text {
                padding-bottom: 32px;
            }
        }

        .footer-top {
            position: relative;
        }

        .footer-right {
            padding-left: 0;
            border-left: 0;
            padding-top: 80px;
            padding-bottom: 73px;
        }

        .footer-center {
            max-width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            gap: 0 15px;

            .footer-content {
                flex: 1 1 calc(33.33% - 32px);

                &.quick-links {
                    ul {
                        max-width: 119px;
                        width: 100%;
                    }
                }

                .title-mobile {
                    color: var(--on-suface-variant-2);
                }

                .support-item-footer {
                    a {
                        color: var(--surface);
                    }
                }
            }
        }

        .footer-subscribe {
            @include mixin.d-flex();
            gap: 45px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid var(--bg-1);

            .footer-subscribe-content {
                max-width: calc(100% - 290px);
                width: 100%;
            }

            fieldset {
                margin-bottom: 7px;
            }
        }

        .footer-contact {
            .support-item-footer {
                padding-bottom: 4px;
            }
        }


        .image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.bg-color-white {
            background-color: var(--white);

            .text {
                color: var(--on-suface-variant-1);
            }

            .title-footer {
                color: var(--on-suface-container);
            }

            .title-mobile {
                color: var(--on-suface-variant-1) !important;

                &::before {
                    color: var(--on-suface-variant-1) !important;
                }
            }

            .tf-social {
                .item {
                    a {
                        border-color: var(--outline);
                    }
                }
            }

            fieldset {
                input[type=text] {
                    border: 1px solid var(--outline);
                    background-color: var(--surface);
                    color: var(--on-suface-container);
                }
            }

            .footer-subscribe {
                .tf-btn-newsletter {
                    background-color: var(--on-suface-container);

                    i {
                        color: var(--white);
                    }

                    &:hover {
                        background-color: var(--primary);
                    }
                }
            }

            .support-item-footer {
                a {
                    color: var(--on-suface-container) !important;

                    &::before {
                        background: var(--on-suface-container);
                    }
                }

                span {
                    color: var(--on-suface-container) !important;
                }
            }

            .footer-bottom {
                border-color: var(--outline);
            }
        }

    }

    &.h-6 {
        .footer-left {
            padding-top: 65px;
            padding-bottom: 65px;
            max-width: 416px;
        }

        .footer-center {
            padding-top: 65px;
            padding-bottom: 65px;
            padding-left: 14px;
            gap: 0 57px;
        }

        .footer-right {
            padding-top: 65px;
            padding-bottom: 65px;
            padding-left: 35px;
        }
    }
}

.footer-left {

    .logo-footer {
        padding-bottom: 20px;
    }

    .text {
        padding-bottom: 20px;
        color: var(--on-suface-variant-2);
    }

    .contact-footer {
        .contact-top {
            padding-bottom: 12px;
        }

        .contact-bottom {
            @include mixin.d-flex();
            gap: 12px 40px;
            flex-wrap: wrap;
        }
    }
}

.contact-footer-content {
    p {
        color: var(--on-suface-variant-2);
    }

    a {
        color: var(--white);
    }
}

.footer-content {
    .label {
        color: var(--white);
        margin-bottom: 16px;
    }

    .support-item-footer {
        padding-bottom: 12px;

        a {
            color: var(--on-suface-variant-2);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 0;
                left: auto;
                right: 0;
                bottom: 0;
                height: 1px;
                background: var(--white);
                @include mixin.transition3();
            }
        }

        span {
            color: var(--white);
        }

        &:hover {
            a {
                color: var(--white);

                &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}

.footer-subscribe {
    padding-bottom: 21px;

    .label {
        color: var(--white);
        padding-bottom: 12px;
    }

    fieldset {
        position: relative;
        margin-bottom: 12px;

        input[type="text"] {
            width: 100%;
            border: 1px solid var(--bg-1);
            border-radius: 4px;
            padding: 14px 16px;
            font-size: 14px;
            line-height: 22px;
            border-radius: 999px;
            background-color: transparent;
            color: var(--white);

            &::placeholder {
                color: var(--on-suface-variant-2);
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    .tf-btn-newsletter {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        @include mixin.flex(center, center);
        width: 36px;
        height: 36px;
        background-color: var(--white);
        border-radius: 50%;

        i {
            font-size: 20px;
            color: var(--on-suface-container);
        }

        &:hover {
            background-color: var(--primary);

            i {
                color: var(--white);
            }
        }
    }

    .text {
        color: var(--on-suface-variant-2);
    }

    &.style-bg-white {
        fieldset {
            input[type="text"],
            input[type="email"] {
                border: 1px solid var(--white);
                border-radius: 999px;
                background-color: var(--white);
                color: var(--on-suface-container);
            }
        }

        .tf-btn-newsletter {
            background-color: var(--on-suface-container);

            i {
                color: var(--white);
            }

            &:hover {
                background-color: var(--primary);
            }
        }

        .text {
            color: var(--white);
        }
    }
}

.footer-social {
    .title-footer {
        color: var(--white);
        margin-bottom: 12px;
    }

    .tf-social {
        .item {
            a {
                border-color: var(--bg-1);
            }
        }
    }
}

.footer-bottom {
    border-top: 1px solid var(--bg-1);

    .footer-bottom-inner {
        @include mixin.d-flex();
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        flex-wrap: wrap;

        .text {
            color: var(--on-suface-variant-2);
        }

        .right {
            ul {
                @include mixin.d-flex();
                flex-wrap: wrap;

                li {
                    padding-right: 11px;
                    border-right: 1px solid var(--on-suface-variant-2);
                    margin-right: 13px;

                    &:last-child {
                        padding-right: 0;
                        border-right: 0;
                        margin-right: 0;
                    }
                }
            }

            a {
                color: var(--on-suface-variant-2);
            }
        }
    }
}