@use "../abstracts/mixin";

form {
    position: relative;
    z-index: 30;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 8px 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        border: unset;
        overflow: hidden;
        margin-bottom: 0;
        outline: none;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            color: var(--color-text);
        }

        &.style-default {
            padding: 0;
            border: 0 !important;
            border-radius: 0;
            background-color: transparent;
        }
    }

    input:-webkit-autofill {
        background-color: transparent !important;
        box-shadow: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
    }

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }
}

fieldset {
    width: 100%;
}

.cols {
    @include mixin.d-flex();
    align-items: center;

    &.g-20 {
        gap: 20px;
    }
}

.write-review {
    padding: 26px;
    border: 2px solid var(--outline);
    border-radius: 8px;

    .top {
        @include mixin.d-flex();
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
    }

    .title-wg-comment {
        margin-bottom: 24px;
    }

    .cols {
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"] {
        border: 1px solid var(--outline);
        padding: 8.5px 16px;
        border-radius: 4px;

        &::placeholder {
            color: var(--on-suface-variant-2);
        }
    }

    textarea {
        padding: 16px;
        border: 1px solid var(--outline);
        border-radius: 4px;
        margin-bottom: 20px;
        height: 100px;

        &::placeholder {
            color: var(--on-suface-variant-2);
        }
    }

    .tf-btn {
        padding: 12px 32px;
    }

    .check-box {
        margin-left: 3px;
    }

    &.no-border {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
}

.check-box {
    @include mixin.d-flex();
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    position: relative;
    border-radius: 1px;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 15px;
    width: 15px;
    overflow: visible;

    // &:checked {
    //     &::before {
    //         opacity: 1;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         @include flex(center, center);
    //     }
    // }
}


.form-contact-home {
    max-width: 400px;
    width: 100%;
    padding: 32px;
    background-color: var(--bg-1);

    .title-form {
        margin-bottom: 24px;
        color: var(--white);
    }

    input[type="text"],
    input[type="number"],
    input[type="email"] {
        background-color: var(--bg-1);
        border: 1px solid var(--bg-1);
        border-radius: 4px;
        margin-bottom: 12px;
        color: var(--white);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 11px 16px;

        &::placeholder {
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .nice-select {
        position: relative;
        background-color: var(--bg-1);
        border-color: var(--bg-1) !important;
        margin-bottom: 12px;
        padding: 10px 16px;

        &::before {
            color: var(--white);
        }

        >span {
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }

    textarea {
        border: 1px solid var(--bg-1);
        margin-bottom: 24px;
        height: 86px;
        background-color: var(--bg-1);
        color: var(--white);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 11px 16px;

        &::placeholder {
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .error{
        color: var(--white) !important;
    }

    &.style-border {
        max-width: 100%;
        border: 2px solid var(--outline);
        padding: 32px 32px 21px;

        .title-form {
            color: var(--on-suface-container);
            margin-bottom: 22px;
        }

        input[type="text"],
        input[type="number"],
        input[type="email"] {
            background-color: var(--white);
            border: 1px solid var(--outline);
            color: var(--on-suface-container);

            &::placeholder {
                color: var(--on-suface-variant-2);


            }
        }

        .nice-select {
            background-color: var(--white);
            border:1px solid var(--outline) !important;
            margin-bottom: 12px;


            &::before {
                color: var(--on-suface-container);
            }

            >span {
                color: var(--on-suface-container);
            }

        }

        textarea {
            border: 1px solid var(--outline);
            background-color: var(--white);
            color: var(--on-suface-container);

            &::placeholder {
                color: var(--on-suface-variant-2);

            }
        }
    }
}


.tf-check-rounded {
    position: relative;
    border: 1px solid var(--on-suface-container);
    border-radius: 50% !important;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 14px !important;
    width: 14px !important;
    @include mixin.flex(center, center);
    -webkit-appearance: none;

    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: var(--on-suface-container);
        opacity: 0;
    }

    &:checked {
        border-color: var(--on-suface-container);

        &::before {
            opacity: 1;
        }
    }
}

.form-contact-us {
    margin-top: 5px;
    padding: 30px 31px 30px ;
    border: 1px solid var(--outline);
    .cols {
        gap: 16px;
        margin-bottom: 19px;
   
        fieldset {
            max-width: 50%;
            width: 100%;
        }
    }

    input[type="text"],
    input[type="number"],
    input[type="email"] {
        background-color: var(--white);
        border: 1px solid var(--outline);
        border-radius: 4px;
        color: var(--on-suface-container);
        padding: 9px 16px;

        &::placeholder {
            color: var(--on-suface-variant-2);
        }
    }

    .nice-select {
        background-color: var(--white);
        border: 1px solid var(--outline) !important;
        padding: 11px 16px;
        &::before {
            color: var(--on-suface-container);
        }

        >span {
            color: var(--on-suface-container);
        }
    }

    textarea {
        border: 1px solid var(--outline);
        margin-bottom: 24px;
        height: 140px;
        background-color: var(--bg-1);
        color: var(--on-suface-container);
        padding: 11px 13px;

        &::placeholder {
            color: var(--on-suface-variant-2);
        }
    }
    .tf-btn{
        padding: 16px 0 !important;
    }
}