@use "../abstracts/variable";

#map {
    max-width: 100%;
    height: 520px;
    overflow: hidden;
    .marker {
        width: 60px;
        height: 60px;
        background-color: var(--bg-5);
        border-radius: 50%;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 44px;
            height: 44px;
            background-color: var(--white);
            border-radius: 50%;
        }
        &::after{
            content: '\e907';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: variable.$fontIcon;
            color: var(--on-suface-container);
            font-size: 28px;
        }
        cursor: pointer;
    }
}
.mapboxgl-ctrl-attrib a,
.mapboxgl-ctrl-attrib.mapboxgl-compact,
a.mapboxgl-ctrl-logo {
    display: none !important;
}


.mapboxgl-popup-content{
    padding: 16px;
    background-color: var(--white);
    .mapboxgl-popup-close-button{
        font-size: 30px;
        overflow: hidden;
        color: var(--on-suface-variant-1);
    }
}