@use "../abstracts/mixin";

.top-search {
  overflow: hidden;

  .top-search-content {
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    transform: translateY(-5%);
    padding-top: 24px;
    padding-bottom: 64px;
    @include mixin.transition5();
    background-color: var(--on-suface-container);
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(20px);
    z-index: 999999;

    .top-content {
      @include mixin.d-flex();
      align-items: center;
      justify-content: space-between;

      .button-close {
        i {
          color: var(--white);
          font-size: 24px;
        }
      }
    }

    .wg-box-search {
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto;

      input[type="text"] {
        background-color: transparent;
        font-size: 20px;
        line-height: 28px;
        padding: 22px 0 !important;
        border-bottom: 2px solid var(--outline) !important;
        color: var(--on-suface-variant-2);
      }

      .btn-search {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);

        i {
          color: var(--white);
          font-size: 32px;
        }
      }
    }
  }

  .ovelay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    cursor: url(/image/icon/cursor-close.svg), auto;
  }

  &.active {
    .top-search-content {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      z-index: 1000;
    }

    .ovelay {
      display: block;
    }
  }
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.offcanvas-backdrop {
  cursor: url(/image/icon/cursor-close.svg), auto;
  background-color: var(--on-suface-container);

  &.show {
    opacity: 0.2 !important;
  }
}

.canvnas-quick-view {
  min-width: 856px;
  width: max-content;
  overflow-y: auto;
  z-index: 999999;

  .canvnas-content {
    @include mixin.d-flex();
    gap: 48px;
  }

  .quick-view-content {
    max-width: calc(100% - 388px);
    padding-right: 24px;
    padding-top: 24px;
    width: 100%;
    position: relative;

    .heading-quick-view {
      @include mixin.d-flex();
      align-items: center;
      justify-content: space-between;
      background-color: var(--white);
      position: relative;
      z-index: 9;

      .mobile-nav-close {
        width: 40px;
        height: 40px;
        background-color: var(--surface);
        border-radius: 50%;

        i {
          font-size: 20px;
        }
      }
    }
  }

  .tf-product-info-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
}

.tf-minicart-recommendations {
  .wrap-recommendations {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    direction: rtl;

    .list-img {
      direction: ltr;
      padding-left: 16px;
      @include mixin.d-flex();
      flex-direction: column;
      gap: 20px;
    }

    .list-img-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.offcanvasMegamenu {
  background-color: var(--white);
  max-width: 420px;
  --bs-offcanvas-height: max-content;
  overflow-y: auto;
  padding: 20px;
  z-index: 999999;

  .btn-close {
    overflow: visible;
    width: 60px;
    height: 60px;
    border: 1px solid var(--outline);
    border-radius: 50%;
  }

  .heading {
    margin-bottom: 30px;
    text-align: end;
  }

  .title-content {
    color: var(--secondary);
    margin-bottom: 15px;
  }

  .meag-menu-item {
    margin-bottom: 30px;
  }
  .contact-list-mega-menu {
    li {
      padding-top: 3px;
      padding-bottom: 3px;
      p {
        color: var(--on-suface-variant-1);
      }
    }
  }
}

.offcanvasTeamsDetails {
  max-width: 1100px !important;
  width: 100% !important;
  overflow-y: auto;

  .close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    overflow: visible;
    z-index: 9;
    background-color: var(--white);
    i {
      font-size: 30px;
    }
  }
}

.modalCenter {
  width: 100vw !important;
  padding-right: 0 !important;

  .modal-dialog {
    max-width: 880px;
  }
}
.modal {
  cursor: url(/image/icon/cursor-close.svg), auto;
  .modal-content {
    cursor: default !important;
  }
}
